*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #8888c7;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: rgb(60, 55, 55);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;

}

h1{
    font-size: 2rem;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
}

#user-input{
    width: 65%;
    padding: 0.3rem;
    border-radius: 5px;
}

#search-button{
    padding: 0.3rem;
    border-radius: 5px;
}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgb(81, 187, 81);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background: conic-gradient(#30be13 var(--progress-degree,0%),#23371f 0%);

}
.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}